@import "flexboot/src/index.scss";
// @import "flexboot/src/flex.scss";
// @import "flexboot/src/button.scss";
// @import "flexboot/src/grid.scss";
// @import "flexboot/src/grid-xxl.scss";
// @import "flexboot/src/effect.scss";
// @import "flexboot/src/margin.scss";
// @import "flexboot/src/padding.scss";
// @import "flexboot/src/list.scss";
// @import "flexboot/src/border.scss";
// @import "flexboot/src/header.scss";

:root {
    --primary-color: #42A5F5;
    --secondary-color: #F59242;
    --link-color: #000;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin: 2rem 0 1rem;
    font-weight: 700;
}

body {
    font-family: "Jost", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.mr-10px {
    margin-right: 10px;
}

pre {
    margin: 2rem 0;
}

pre,
code {
    font-family: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
    font-size: .875rem;
    border-radius: .25rem;
    // direction: ltr
    //     /* rtl:ignore;; */
    // ;
    // unicode-bidi: bidi-override;
}

pre code {
    padding: 1.25rem 1.5rem !important;
    // color: #1d2d35;
}

code {
    background: #e6e0d7;
    padding: 2px 10px;
}

// pre code {
//     display: block;
//     overflow-x: auto;
//     line-height: 1.5;
//     padding: 1.25rem 1.5rem;
//     -moz-tab-size: 4;
//     -o-tab-size: 4;
//     tab-size: 4;
//     scrollbar-width: thin;
//     scrollbar-color: transparent transparent
// }

p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    @extend .list;
    list-style-type: disc;
}

.top-border {
    border-top: 2px solid #e9ecef;
}

b,
strong {
    font-weight: bolder;
}