$theme := {
  primary: #9c27b0
  accent: #ce93d8
  secondary: #424242
  info: #0D47A1
  warning: #ffb300
  error: #B71C1C
  success: #2E7D32
}
#app{
  background-color: white !important;
}
body {
    font-size: 15px;
    font-weight: normal;
}
ul,ol {
    margin-left: 50px;
}
a{
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
}
h4{
  font-size:2.25rem;
  line-height: 110%;
  margin: 1.14rem 0 .912rem 0;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: .82rem 0 .656rem 0;
}
.center, .center-align
{
  text-align: center;
}
.btn{
  padding: 0 2rem;
}
@require '~vuetify/src/stylus/main.styl'