nav {
    background-color: #42a5f5;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
}

nav .brand-logo {
    margin-left: 15px;
}

.toolbar {
    margin: 0px;
    background-color: #42a5f5 !important;
    width: 100%;
}

#ulLink {
    position: absolute;
    right: 0px;
    display: inline-flex;
}

#ulLink li {
    display: inline-block;
}

#footer {
    width: 100%;
    background-color: #42a5f5;
    color: #FFF;
    margin-top: 15px;
}

#footer .row {
    padding: 40px 50px;
    margin-bottom: 0px;
}

#footer .row div {
    padding: 0px 30px;
    text-align: justify;
}

#footer h5 a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px
}

.footer-nav {
    margin: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: #FFF;
}

/* matrial icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url("/fonts/roboto/icon.woff2") format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'bonvenocflight';
    src: url('/fonts/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/BonvenoCF-Light-webfont.woff') format('woff'), url('/fonts/BonvenoCF-Light-webfont.ttf') format('truetype'), url('/fonts/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("/fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("/fonts/roboto/Roboto-Thin.woff") format("woff");
    font-weight: 100
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("/fonts/roboto/Roboto-Light.woff2") format("woff2"), url("/fonts/roboto/Roboto-Light.woff") format("woff");
    font-weight: 300
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("/fonts/roboto/Roboto-Regular.woff") format("woff");
    font-weight: 400
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Medium), url("/fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("/fonts/roboto/Roboto-Medium.woff") format("woff");
    font-weight: 500
}

@font-face {
    font-family: "Roboto";
    src: local(Roboto Bold), url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("/fonts/roboto/Roboto-Bold.woff") format("woff");
    font-weight: 700
}

.content-heading {
    font-family: 'bonvenocflight';
    font-size: 30px;
    margin-top: 40px;
}

.comment {
    color: #14a414;
}

.margin-top-40px {
    margin-top: 40px;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-30px {
    margin-top: 30px;
}

.btn {
    background-color: #429af5;
    color: white !important;
}

.margin-left-15px {
    margin-left: 15px !important;
}

.display-flex {
    display: flex;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-left-70px {
    margin-left: 70px;
}

.margin-left-90px {
    margin-left: 90px;
}

.list-style-roman {
    list-style-type: lower-roman;
}

.list-style-roman li {
    list-style-type: lower-roman !important;
}

.divider {
    background-color: #b4c4bf;
}

#btnMenuToggle i {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.width-50-per {
    width: 50%;
}

@media only screen and (max-width:550px) {
    nav .nav-mobile {
        margin-top: 7px;
        line-height: initial;
    }

    nav .nav-wrapper {
        height: 100px !important;
    }

    nav .brand-logo {
        margin-top: 30px;
        margin-left: 0;
    }

    nav ul a {
        padding-bottom: 5px;
        margin-right: 5px;
        border-bottom: 0 solid;
        -webkit-transition: width .2s;
        transition: border-bottom-width .25s linear;
    }

    nav ul a:hover {
        background-color: inherit;
        border-bottom-width: 1px;
    }
}

#footer .row .col {
    height: auto
}

@media only screen and (min-width: 601px) {
    #footer .row .col {
        height: 180px;
    }
}

@media only screen and (min-width: 993px) {
    #footer .row .col {
        height: auto
    }
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.list-style-square {
    list-style-type: square;
}

.text-center {
    text-align: center;
}

.margin-left-10px {
    margin-left: 10px
}

.padding-left-20px {
    padding-left: 20px;
}

.inline-block {
    display: inline-block;
}

.padding-left-15px {
    padding-left: 15px;
}