nav {
    background-color: #42a5f5;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav ul li {
    list-style-type: none;
}

nav .brand-logo {
    margin-left: 15px;
}

.toolbar {
    margin: 0px;
    background-color: #42a5f5 !important;
    width: 100%;
}

#ulLink {
    position: absolute;
    right: 0px;
    display: inline-flex;
}

#ulLink li {
    display: inline-block;
}

#footer {
    width: 100%;
    background-color: #42a5f5;
    color: #FFF;
    margin-top: 15px;
}

#footer .row {
    padding: 40px 50px;
    margin-bottom: 0px;
}

#footer .row div {
    padding: 0px 30px;
    text-align: justify;
}

#footer h5 a {
    color: #FFF;
    text-transform: uppercase;
    font-size: 22px
}

.footer-nav {
    margin: 0;
}

.footer-nav li {
    display: inline-block;
}

.footer-nav li a {
    color: #FFF;
}

.content-heading {
    font-family: 'bonvenocflight';
    font-size: 30px;
    margin-top: 40px;
}

.comment {
    color: #14a414;
}

.margin-top-40px {
    margin-top: 40px;
}

.margin-top-50px {
    margin-top: 50px;
}

.margin-top-20px {
    margin-top: 20px;
}

.margin-top-30px {
    margin-top: 30px;
}

.btn {
    background-color: #429af5;
    color: white !important;
}

.margin-left-15px {
    margin-left: 15px !important;
}

.display-flex {
    display: flex;
}

.margin-left-20px {
    margin-left: 20px;
}

.margin-left-50px {
    margin-left: 50px;
}

.margin-left-70px {
    margin-left: 70px;
}

.margin-left-90px {
    margin-left: 90px;
}

.list-style-roman {
    list-style-type: lower-roman;
}

.list-style-roman li {
    list-style-type: lower-roman !important;
}

.divider {
    background-color: #b4c4bf;
}

#btnMenuToggle i {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.width-50-per {
    width: 50%;
}

@media only screen and (max-width:550px) {
    nav .nav-mobile {
        margin-top: 7px;
        line-height: initial;
    }

    nav .nav-wrapper {
        height: 100px !important;
    }

    nav .brand-logo {
        margin-top: 30px;
        margin-left: 0;
    }

    nav ul a {
        padding-bottom: 5px;
        margin-right: 5px;
        border-bottom: 0 solid;
        -webkit-transition: width .2s;
        transition: border-bottom-width .25s linear;
    }

    nav ul a:hover {
        background-color: inherit;
        border-bottom-width: 1px;
    }
}

#footer .row .col {
    height: auto
}

@media only screen and (min-width: 601px) {
    #footer .row .col {
        height: 180px;
    }
}

@media only screen and (min-width: 993px) {
    #footer .row .col {
        height: auto
    }
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.list-style-square {
    list-style-type: square;
}

.text-center {
    text-align: center;
}

.margin-left-10px {
    margin-left: 10px
}

.padding-left-20px {
    padding-left: 20px;
}

.inline-block {
    display: inline-block;
}

.padding-left-15px {
    padding-left: 15px;
}

.top-border {
    border-top: 2px solid #ccc;
}

.margin-bottom-70px {
    margin-bottom: 70px;
}

q {
    border-left: 10px solid #42a5f5;
    /* padding-left: 10px;
    padding-bottom: 30px; */
}

q::before {
    margin-right: 10px;
    font-size: 40px;
}

q::after {
    margin-left: 10px;
    font-size: 40px;
}

$background-color: hsl(50, 5, 97);
$black: hsl(200, 40, 10);
$white: $background-color;
$base-font-size: 1.4em;
$base-line-height: 1.5em;

.highlight {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid lighten($black, 40%);
    font-family: 'Roboto', serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;

    &:before,
    &:after {
        content: '\201C';
        font-family: 'Sanchez';
        color: lighten($black, 40%);
    }

    &:after {
        content: '\201D';
    }
}