#divExampleCode {
    margin-top: 50px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

#divExampleCode #divResult {
    margin-top: 30px;
    min-height: 200px;
    background-color: white;
    font-family: sans-serif;
}

#divExampleCode .content-heading {
    margin-top: 20px;
    font-size: 25px;
}

#divExampleCode p {
    font-size: 1rem;
}

#divExampleCode #btnExecute {
    float: right;
    background-color: #00c853;
}

#divExampleCode #btnExecute i {
    vertical-align: bottom;
}

#divExampleCode #divResult table {
    width: 100%;
}

#divExampleCode #divResult table tr th {
    text-align: center;
}

#divExampleCode #divResult table tr td {
    word-break: break-all;
    text-align: center;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

#divDbInfo table tr th,
#divDbInfo table tr td {
    text-align: center;
    width: 50%;
    padding: 10px 5px;
}

#divDbInfo table tr td:first-child {
    text-decoration: underline;
    cursor: pointer;
}

#divDbInfo table caption {
    background-color: #dd5959;
    color: white;
    padding: 10px 0px;
    margin-bottom: 25px;
}

#divCode {
    margin-top: 30px;
    min-height: 200px;
    font-size: 14px;
}

pre {
    padding: 10px 15px;
}

pre code {
    width: inherit;
    display: block;
    background-color: white;
    padding: 10px;
    color: black;
}