#ulFeatureList {
    margin-left: 40px;
    column-count: 2;
    /* column-gap: 50px; */
    margin-top: 40px;
}

#ulFeatureList li {
    height: 140px;
    margin-bottom: 15px;
    list-style-type: none;
}

.brand-logo {
    visibility: hidden;
}

.li-header {
    text-transform: uppercase;
    font-size: 18px;
    color: #42a5f5;
    display: block;
    padding-bottom: 5px;
}

.li-body {}

#divLogoContainer {
    position: absolute;
    width: 100%;
    background-color: #42a5f5;
    text-align: center;
    color: white;
    z-index: 1;
}

#divStyle {
    position: relative;
    background-color: #42a5f5;
    color: #FFF;
    width: 100%;
    /* height: 150px; */
    height: 204px;
    transform: skewY(5deg);
}

#divOverview {
    font-family: 0;
    text-align: center;
}

.logo-text {
    font-size: 50px;
}

#divLogoContainer div .logo-tagline {
    display: block;
}

#divLinkGroup {
    text-align: center;
    margin-top: 30px;
}

/*mobile*/

@media only screen and (min-width:450px) {
    #ulFeatureList li {
        height: 120px;
    }

    #divLinkGroup a:last-child {
        margin-left: 0px;
    }
}

/*tab*/

@media only screen and (min-width:600px) {
    #divLogoContainer div .logo-tagline {
        display: inline-block;
    }

    #ulFeatureList li {
        height: 100px;
    }

    #divLinkGroup a:last-child {
        margin-left: 20px;
    }
}

/*small-screen-pc*/

@media only screen and (min-width:768px) {
    #divLogoContainer div .logo-tagline {
        display: inline-block;
    }
}

/*medium-screen-pc*/

@media only screen and (min-width:993px) {
    #ulFeatureList li {
        height: 80px;
    }
}

.used-by {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.company-using {
    vertical-align: middle;
    text-align: center;

    .ringcentral {
        width: 100px;
    }

    .postybirb {
        width: 50px;
        margin-bottom: -13px;
        margin-left: 10px;
    }
}

.frameworks {
    margin-top: 10px;

    .vue {
        img {
            width: 40px;
            height: auto;
        }
        margin-right: 20px;
    }
}

.divOpenSource {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}