<v-layout row wrap>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <v-flex md2 xl2 class="hidden-sm-and-down" id="divMenuContainer" :class="{'show-menu':showMenu}">
        <ul>
            <li class="search margin-bottom-10px">
                <v-card class="search-wrapper">
                    <v-card-text style="padding:5px;">
                        <input v-model="searchValue" id="txtSearch" type="text" placeholder="Search" @keyup="onSearch">
                        <i class="material-icons">search</i>
                        <div class="search-results" v-html="searchResult"></div>
                    </v-card-text>
                </v-card>
            </li>
            <li v-for="link in links" :key="link.text" v-bind:class="{'link-active': link.url=== activeUrl}">
                <a :href="relativeUrl+link.url">{{link.text}}</a>
            </li>
        </ul>
    </v-flex>
    <v-flex id="divTutorialContent" xs12 md8 xl8 :class="{'padding-left-15px': $vuetify.breakpoint.mdAndUp}">
        <div v-html="tutorialHtml" class="margin-top-20px"></div>
    </v-flex>
    <v-flex md2 class="margin-top-20px">
        <v-btn href="/sponsor" color="success right-side-button">
            Sponsor Us &
            <br>get your logo here
        </v-btn>
        <br>
        <br>
        <v-btn href="/sponsor" color="success right-side-button">
            Be a backer &
            <br>get your logo on our page
        </v-btn>
        <a target="_blank" class="ad-container" href="http://fortjs.info/">
            <div class="ad-container-text">FortJs</div>
            <img class="ad-image" src="http://fortjs.info/img/fort_js_logo_200_137.png" />
            <div>{{jsstoreText[adIndex]}}</div>
        </a>

        <v-btn class="margin-bottom-70px" v-if="docToEdit!=null" alt="edit this doc" target="_blank"
            href="https://gitter.im/JsStore/Lobby" color="primary" fixed bottom right fab>
            <i class="fab fa-gitter"></i>
        </v-btn>
        <v-btn v-if="docToEdit!=null" alt="edit this doc" target="_blank"
            :href="`https://github.com/ujjwalguptaofficial/jsstore.docs/edit/master/docs/tutorial/${docToEdit}.md`"
            color="primary" fixed bottom right fab>
            <v-icon>edit</v-icon>
        </v-btn>

        <!-- codefund ads -->
        <br>
        <br>
        <div id="codefund"></div>
        <script src="https://codefund.app/properties/280/funder.js" async="async"></script>
    </v-flex>
</v-layout>